
.carousel-item img{
	height: 100%;
}
.container{
	max-width: 1795px;
}
.section-wrap-content-var-1{
    background-color: #8f859e;
}
.section-wrap-content-var-1 p,
.section-wrap-content-var-1 h2,
.list-desc dt {
    text-align: left;
    color: white;
}
.button-secondary-outline:hover{
    background: white;
}
.list-inline{
    display: flex;
}
.breadcrumbs-01 {
    background-image: url(../assets/about.jpg);
    object-position: 50% 10px;
}
.bg-image {
    background-size: cover;
    background-position: center top;
}
.carousel-caption{
    height: 100%;
    bottom: 0px;
    top: 0px;
    align-content: center;
}
.carousel-caption h1,
.carousel-caption h3,
.carousel-caption h4{
    color: aliceblue;
}
.hotel-booking-form{
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    object-fit: cover;
}
.thumbnail-classic figure > img{
    height: 296px;
    width: 370px;
}
figure{
    margin: 0px;
}
@media (min-width: 1024px) {
	.navbar-expand-lg .navbar-nav{
		gap: 42px;
	}
    .hotel-booking-form{ 
        padding: 0px 50px; 
    }
}

